/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	background: #1f202a url(../images/templatemo_body.jpg) top center no-repeat;
	float: none;
}
		
a:link, a:visited { color: #FFF; text-decoration: underline; font-weight: bold; } 
a:active, a:hover {
	color: #FFF;
	font-weight: bold;
}

/*header*/
#templatemo_container {
	width: 887px;
	margin: auto;
}

#templatemo_header {
	width: 853px;
	height: 136px;
	background-image: url(../images/templatemo_header_bg.jpg);
	padding-left: 35px;
}

#templatemo_logo {
	float: left;
	width: 272px;
	height: 71px;
	background: url(../images/templatemo_logo_bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 61px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 5px;
}

#templatemo_logo h1 {
	color: #b3d46a;
	font-size: 33px;
	margin: 15px 0 0 20px;
	padding: 0;
	font-weight: bold;
}

#templatemo_logo h2 {
	color: #98e11d;
	font-size: 12px;
	margin: 15px 0 0 45px;
	padding: 0;
}

/*end header*/
/* Menu */
#templatemo_menu {
	float: left;
	height: 41px;
	width: 537px;
	margin-top: 60px;
	margin-right: 20;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0px;
}

#templatemo_menu ul {
	clear: both;
	float: left;
	list-style: none;
	display: inline;
}

#templatemo_menu li {
	float: left;
}

#templatemo_menu li a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 12px;
	margin: 0 10px 0 0; 
	padding: 0 0 0 5px;
	height: 41px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}

#templatemo_menu li a b {
	float: left;
	display: block;
	height: 38px;
	padding: 3px 15px 0 11px;
}

#templatemo_menu li.current a, #templatemo_menu li a:hover {
	background: url(../images/templatemo_menu_left.png) no-repeat;
	color: #fff;
}

#templatemo_menu li.current a b, #templatemo_menu li a:hover b {
	background: url(../images/templatemo_menu_right.png) right top no-repeat;
}

/*End OF menu*/

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.margin_r50 { margin-right: 50px; }

.button_01 a {
	display: block;
	width: 120px;
	height: 38px;
	padding: 20px 0 0 42px;
  	background: url(../images/templatemo_button.png) no-repeat;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.button_01 a:hover {
	background: url(../images/templatemo_button_hover.png) no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #494949;
}

/*h1 { font-size: 34px; color: #bf0f05; margin: 0 10 30px 0; padding: 5px 0; }*/
h2 { font-size: 24px; color: #bf0f05; margin: 0 10 20px 0; }
h3 { font-size: 21px; color: #333; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; color: #333; margin: 0 0 10px 0; padding: 0; }
h5 { font-size: 16px; color: #333; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.image_wrapper {
	border: 1px solid #cccccc;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
	background: #fff;
}

.fl_image { float: left; margin-right: 30px }

.fr_image { float: right; margin-left: 30px }

.image_wrapper img { border: 1px solid #534733; }

.float_l { float: left; }
.float_r { float: right; }

#templatemo_wrapper_outer {
	width: 100%;
}

#templatemo_wrapper_inner {
	width: 980px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-left: 23px;
}

/* site title */


#templatemo_header #site_title {
	text-align: center;
	padding-top: 40px;
}

#site_title a {
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#site_title a:hover {
	font-weight: bold;	
	text-decoration: none;
}

/* end of site title bar */
/*content area*/
#templatemo_content_area_top {
	width: 887px;
	background-color: #FFFFFF;
	background-image: url(../images/templatemo_content_area_top.jpg);
	background-repeat: no-repeat;
	padding-top: 65px;
	margin-top: 1px;
	margin-left: 35px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
/*end of content area*/
/* content */

#templatemo_content {
	width: 887px;
	height: 625px;
	padding-top: 0;
	padding-bottom: 0;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center top;
/*	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;*/
}

.two_col {
	width: 700px;
}

.two_col img {
	padding: 5px;
	border: 1px solid #CCC;	
	margin-bottom: 10px;
}

.em {
	color: #232430;
	font-style: italic;
}

#templatemo_content p {
	text-align: justify;
}

.section_w320 {
	width: 320px;
}

.section_w320 .w320_content {
	float: right;
	width: 180px;
}

#templatemo_content p {
	margin-bottom: 10px;
}

#service_list {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}

#service_list li {
	margin: 0 0 15px 0px;
	padding: 0 0 0 30px;
	color: #771100;
	background: url(../images/templatemo_list.png) top left no-repeat;
}

.portfolio_box {
	float: left;
	width: 190px;
	margin-bottom: 20px;
}

.port_img {
	width: 180px;
	margin: 0 0 10px 0;
	padding: 4px;
	border: 1px solid #ccc;
}

.port_content {
	clear: both;
	width: 200px;
}

.portfolio_box .port_content p {
	margin-bottom: 0;
	padding-bottom: 0px;
}

#contact_form {
	float: left;
	width: 400px;
	padding: 20px 0 0 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	height: 18px;
	width: 230px;
}

#contact_form form label {
	float: left;	
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 230px;
	height: 100px;
}

#contact_form form .submit_btn {
	margin-left: 108px;
}

.address_info { 
	float: right;
	padding: 10px 0 0 0;
	width: 320px;
	font-size: 14px;
	line-height: 30px;
}

.address_info h3 {
	border-bottom: 1px solid #ffffff;
}

	.stripViewer .panelContainer .panel ul {
		text-align: left;
		margin: 0 15px 0 30px;
		padding: 0;
	}
	
	.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
		margin: 0;
		position: relative;
		width: 887px;
		height: 700px;
	}

	/* These 2 lines specify style applied while slider is loading */
	.csw {
	width: 100%;
	height: 550px;
	background: none;
	overflow: hidden;
}
	.csw .loading { margin: 200px 0 0 0; text-align: center; width:900px; height: 460px;}

	.stripViewer { /* This is the viewing window */
		position: relative;
		overflow: hidden; 
		margin: auto;
		width: 800px; /* Also specified in  .stripViewer .panelContainer .panel  below */
		height: 510px;
		margin: 0 40px;
		clear: both;
	}
	
	.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
		position: relative;
		left: 0; top: 0;
		width: 100%;
		list-style-type: none;
		/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
	}
	
	.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
		float:left;
		height: 100%;
		position: relative;
		width: 800px; /* Also specified in  .stripViewer  above */
		height: 510px;
	}	
	
	.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
		overflow: hidden;
		margin: 0px 20px;
	}
	
	.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
			display: block;
			height: 55px;
			margin: 0 50px; 
			padding: 50px 0 0 0;
			}
		
		.stripNav ul { /* The auto-generated set of links */
			height: 58px;
			width: 800px;
			margin: 0;
			padding: 0 0 0 0px; /* adjust the position of top nav. menu items */
			list-style: none; 
		}
		
		.stripNav ul li {
			float: left;
			margin-right: 30px; /* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */
			background: url(../images/templatemo_menu_divider.png) top right no-repeat;
		}
		
		.stripNav a { /* The nav links */
			display: block;
			height: 40px;
			padding: 4px 0 0 42px;
			margin: 0;
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			color: #494949;
			background: #c6e3ff;
			text-decoration: none;
			outline: none;
		}
	
	.stripNav li a { background:none; }

	.stripNav li a:hover  {
		color: #1f1910;
		background: url(../images/templatemo_menu_hover.png) bottom left no-repeat;
	}
	
	.stripNav li a.current {
		color: #1f1910;
		background: url(../images/templatemo_menu_hover.png) bottom left no-repeat;
	}
	
	.stripNavL, .stripNavR { /* The left and right arrows */
		position: absolute;
		top: 230px;
		text-indent: -9000em;
	}
	
	.stripNavL a, .stripNavR a {
		display: block;
		height: 0px;
		width: 0px;
	}
	
	.stripNavL {
		left: 0;
	}
	
	.stripNavR {
		right: 0;
	}
	
	.stripNavL {
		background: url("../images/arrow-left.gif") no-repeat center;
	}
	
	.stripNavR {
		background: url("../images/arrow-right.gif") no-repeat center;
	}
#templatemo_footer {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	margin-top: 70px;
	text-align: center;
	margin-bottom: 20px;
}
